<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thực hành An toàn thông tin nâng cao</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center mt-5">
        <img src="https://file1.hutech.edu.vn/file/editor/homepage/stories/hinh34/logo%20CMYK-01.png" alt="hutech" style="max-width: 200px;">
        <h4>BÀI THỰC HÀNH BẢO MẬT THÔNG TIN NÂNG CAO</h4>
        <ul style="list-style: none; padding: 0;">
            <li><a href="/caesar">Caesar Cipher</a></li>
            <li><a href="/vigenere">Vigenère Cipher</a></li>
            <li><a href="/rsa">RSA Cipher</a></li>
            
        </ul>
    </div>
</body>
</html>
